* {
  font-family: Helvetica;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

}
body {

}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: black;
}

h2 {
  font size: 50px;
  font-weight: bold;
  color: blue;
}

h3 {
  font size: 32px;
  font-weight: bold;
  color: black;
}

li {
  color: white;
}
